/target
/project/target
/project/project
/deliveries
/R/bamboo/java/bamboo_*-sources.jar
/R/bamboo/inst/java/scala-*/bamboo_*.jar
/R/bamboo.Rcheck
/R/bamboo_*.tar.gz
/webapp/bamboo.byu.edu/log/
/webapp/bamboo.byu.edu/.Rhistory
.Rproj.user
